// COLOR VARIABLES

$main-color:#58e1c1;
$secondary-color:#51ddfc;
$white: #fff;
$orange-color:#fd7856;
$green-color:#63cc82;

// media query variables
$media-breakpoint: 768px;


//other VARIABLES

$ten-px: 10px;
$one-hundred-precent:100%;
$auto: auto;
$none: none;
$block: block;
$initial: initial;
