
//* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
	margin-top: 15px;
	width: $one-hundred-precent;
	color: $white;
	border: $none;
	padding: $ten-px 0;
	text-transform: uppercase;
	border-radius: 5px;
      }

      .default {
	background-color: $secondary-color;
      }

      .error {
	background-color: #e4757a;
      }

      .info {
	background-color: #927bc1;
      }

      .success {
	background-color: $green-color;
      }

      .warning {
	background-color:$orange-color;
      }
